<footer class="footer-page">
  <div class="container footer-container">
    <div class="footer-container-logo">
      <a class="footer-logo" href="./index.html"
        ><span data-lang-key="footer.logo">Iryna</span
        ><span class="footer-logo-jefferson" data-lang-key="footer.logo_span"
          >Panasiuk.</span
        ></a
      >
      <ul class="footer-list">
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://t.me/Irina_P_23"
            target="_blank"
            rel="noopener noreferrer"
            data-lang-key="footer.telegram"
          >
            Telegram
          </a>
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://drive.google.com/file/d/1z2Xd0i1j001gpdt9GemAYNxhTyD8AIbr/view"
            target="_blank"
            rel="noopener noreferrer"
            data-lang-key="footer.resume_link"
            data-lang-attribute="href"
          >
            <span data-lang-key="footer.resume">Resume</span>
          </a>
        </li>
        <li class="footer-item">
          <a
            class="footer-link"
            href="https://github.com/Ira-Panasiuk-2024?tab=repositories"
            target="_blank"
            rel="noopener noreferrer"
            data-lang-key="footer.github"
          >
            GitHub
          </a>
        </li>
      </ul>
    </div>
    <p class="footer-copyright" data-lang-key="footer.copyright">
      © Copyright 2025. Made by IrynaPanasiuk
    </p>
  </div>
</footer>
