<section class="hero-page" id="hero">
  <div class="container hero-container">
    <div class="hero-wrapper-top">
      <h1 class="hero-title" data-lang-key="hero.title">
        Hello, I am <span>Fullstack developer</span>
      </h1>
      <img
        loading="lazy"
        class="hero-img"
        src="/img/photo/photo_hero_desktop.webp"
        alt="Fullstack developer"
        srcset="/img/photo/photo_hero_desktop@2x.webp 2x"
        width="592"
        height="444"
      />
    </div>

    <div class="hero-wrapper-bottom">
      <div class="hero-btn-wrapper">
        <a href="#work-together" class="hero-btn"
          ><svg class="hero-btn-ico" width="22" height="22">
            <use href="/img/symbol-defs.svg#icon-arrow-btn"></use>
          </svg>
          <span data-lang-key="hero.button">Order the project</span>
          <span class="hero-btn-span"></span>
        </a>
      </div>
      <p class="hero-text" data-lang-key="hero.text">
        I am looking for opportunities for <span>professional growth</span> and
        am ready to <span>join interesting projects</span> where I can apply my
        skills.
      </p>
    </div>
  </div>

  <ul class="hero-social-list">
    <li class="hero-social-item">
      <a
        href="https://t.me/Irina_P_23"
        class="hero-social-link"
        target="_blank"
        rel="noreferrer noopener"
        data-lang-key="hero.social_telegram"
      >
        Telegram
      </a>
    </li>
    <li class="hero-social-item">
      <a
        class="hero-social-link"
        href="https://drive.google.com/file/d/1z2Xd0i1j001gpdt9GemAYNxhTyD8AIbr/view"
        target="_blank"
        rel="noreferrer noopener"
        data-lang-key="hero.social_resume_link"
        data-lang-attribute="href"
      >
        <span data-lang-key="hero.social_resume">Resume</span>
      </a>
    </li>
    <li class="hero-social-item">
      <a
        href="https://github.com/Ira-Panasiuk-2024?tab=repositories"
        class="hero-social-link"
        target="_blank"
        rel="noreferrer noopener"
        data-lang-key="hero.social_github"
      >
        GitHub
      </a>
    </li>
  </ul>
</section>
