<section class="my-projects-page">
  <div class="container my-project-container">
    <h2 class="title-my-projects" id="my-projects">
      <span data-lang-key="my_projects.title_part1">MY </span
      ><span class="green" data-lang-key="my_projects.title_part2"
        >PROJECTS</span
      >
    </h2>
    <ul class="project-list">
      <li class="li-class-project">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_1_des.webp    1x,
              /img/my-projects/project_1_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_1_tab.webp    1x,
              /img/my-projects/project_1_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_1_mob.webp    1x,
              /img/my-projects/project_1_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_1_mobb.png"
            alt="Money Guard"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">
          HTML5, CSS3, JAVASCRIPT, REACT, REDAX, NODE.JS, EXPRESS.JS, MONGODB,
          GIT, VITE
        </p>
        <div class="box-button">
          <h3 class="project-subtitle">Money Guard</h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/Money-Guard-frontend"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_2_des.webp    1x,
              /img/my-projects/project_2_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_2_tab.webp    1x,
              /img/my-projects/project_2_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_2_mob.webp    1x,
              /img/my-projects/project_2_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_2_mobb.png"
            alt="Phonebook App"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">
          HTML5, CSS3, JAVASCRIPT, REACT, REDAX, NODE.JS, EXPRESS.JS, MONGODB,
          GIT, VITE
        </p>
        <div class="box-button">
          <h3 class="project-subtitle">Phonebook App</h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/phonebook"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_3_des.webp    1x,
              /img/my-projects/project_3_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_3_tab.webp    1x,
              /img/my-projects/project_3_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_3_mob.webp    1x,
              /img/my-projects/project_3_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_3_mobb.png"
            alt="Learn Lingo"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">REACT, FIREBASE, GIT, VITE</p>
        <div class="box-button">
          <h3 class="project-subtitle">Learn Lingo</h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/Learn_Lingo"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_4_des.webp    1x,
              /img/my-projects/project_4_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_4_tab.webp    1x,
              /img/my-projects/project_4_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_4_mob.webp    1x,
              /img/my-projects/project_4_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_4_mobb.png"
            alt="Project-CodeSamurai-Money Guard"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">
          HTML5, CSS3, JAVASCRIPT, REACT, REDAX, NODE.JS, EXPRESS.JS, MONGODB,
          GIT, VITE
        </p>
        <div class="box-button">
          <h3 class="project-subtitle">Project-CodeSamurai-Money Guard</h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/project-CodeSamurai-backend"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_5_des.webp    1x,
              /img/my-projects/project_5_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_5_tab.webp    1x,
              /img/my-projects/project_5_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_5_mob.webp    1x,
              /img/my-projects/project_5_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_5_mobb.png"
            alt="Node.js MongoDB Homework Project"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">NODE.JS, EXPRESS.JS, MONGODB, GIT</p>
        <div class="box-button">
          <h3 class="project-subtitle">Node.js MongoDB Homework Project</h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/nodejs-hw-mongodb"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_6_des.webp    1x,
              /img/my-projects/project_6_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_6_tab.webp    1x,
              /img/my-projects/project_6_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_6_mob.webp    1x,
              /img/my-projects/project_6_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_6_mobb.png"
            alt="React + TypeScript Image Search Application"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">
          HTML5, CSS3, JAVASCRIPT, REACT, TYPESCRIPT, Git, VITE
        </p>
        <div class="box-button">
          <h3 class="project-subtitle">
            React + TypeScript Image Search Application
          </h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/goit-typescript-hw-02"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_7_des.webp    1x,
              /img/my-projects/project_7_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_7_tab.webp    1x,
              /img/my-projects/project_7_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_7_mob.webp    1x,
              /img/my-projects/project_7_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_7_mobb.png"
            alt="PhoneBook with Authentication"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">HTML5, CSS3, JAVASCRIPT, REACT, Git, VITE</p>
        <div class="box-button">
          <h3 class="project-subtitle">PhoneBook with Authentication</h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/goit-react-hw-08"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_8_des.webp    1x,
              /img/my-projects/project_8_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_8_tab.webp    1x,
              /img/my-projects/project_8_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_8_mob.webp    1x,
              /img/my-projects/project_8_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_8_mobb.png"
            alt="React Movies App"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">HTML5, CSS3, JAVASCRIPT, REACT, Git, VITE</p>
        <div class="box-button">
          <h3 class="project-subtitle">React Movies App</h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/goit-react-hw-05"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_9_des.webp    1x,
              /img/my-projects/project_9_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_9_tab.webp    1x,
              /img/my-projects/project_9_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_9_mob.webp    1x,
              /img/my-projects/project_9_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_9_mobb.png"
            alt="Fullstack Developer Portfolio"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">HTML5, CSS3, JAVASCRIPT, Git, VITE</p>
        <div class="box-button">
          <h3 class="project-subtitle">Fullstack Developer Portfolio</h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/project-SurvivorsTeam13"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_10_des.webp    1x,
              /img/my-projects/project_10_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_10_tab.webp    1x,
              /img/my-projects/project_10_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_10_mob.webp    1x,
              /img/my-projects/project_10_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_10_mobb.png"
            alt="Image Search Application"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">HTML5, CSS3, JAVASCRIPT, Git, VITE</p>
        <div class="box-button">
          <h3 class="project-subtitle">Image Search Application</h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/goit-js-hw-12"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_11_des.webp    1x,
              /img/my-projects/project_11_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_11_tab.webp    1x,
              /img/my-projects/project_11_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_11_mob.webp    1x,
              /img/my-projects/project_11_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_11_mobb.png"
            alt="Simply Chocolate - Premium Chocolate Website"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">HTML5, CSS3, Git, VITE</p>
        <div class="box-button">
          <h3 class="project-subtitle">
            Simply Chocolate - Premium Chocolate Website
          </h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/Simply-Chocolate"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_12_des.webp    1x,
              /img/my-projects/project_12_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_12_tab.webp    1x,
              /img/my-projects/project_12_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_12_mob.webp    1x,
              /img/my-projects/project_12_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_12_mobb.png"
            alt="Mobileapp - Mobile Application Prototype"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">HTML5, CSS3, Git, VITE</p>
        <div class="box-button">
          <h3 class="project-subtitle">
            Mobileapp - Mobile Application Prototype
          </h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/Mobile-App-Prototype"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_13_des.webp    1x,
              /img/my-projects/project_13_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_13_tab.webp    1x,
              /img/my-projects/project_13_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_13_mob.webp    1x,
              /img/my-projects/project_13_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_13_mobb.png"
            alt="YachtJet - Luxury Yacht Rental Website"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">HTML5, CSS3, Git, VITE</p>
        <div class="box-button">
          <h3 class="project-subtitle">
            YachtJet - Luxury Yacht Rental Website
          </h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/project-dream-team-16"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-class-project hidden">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/my-projects/project_14_des.webp    1x,
              /img/my-projects/project_14_des@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/my-projects/project_14_tab.webp    1x,
              /img/my-projects/project_14_tab@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/my-projects/project_14_mob.webp    1x,
              /img/my-projects/project_14_mob@2x.webp 2x
            "
          />
          <img
            loading="lazy"
            src="/img/my-projects/project_14_mobb.png"
            alt="WebStudio - Business Portfolio Website"
            width="300"
            class="project-img"
          />
        </picture>
        <p class="small-desc">HTML5, CSS3, Git, VITE</p>
        <div class="box-button">
          <h3 class="project-subtitle">
            WebStudio - Business Portfolio Website
          </h3>
          <a
            class="projects-button"
            href="https://github.com/Ira-Panasiuk-2024/goit-markup-hw-06"
            target="_blank"
          >
            <span data-lang-key="my_projects.visit_button">VISIT</span>
            <svg class="icon-project" width="24" height="24">
              <use href="/img/symbol-defs.svg#icon-arrow-up"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <button
      class="load-container line"
      id="loadMore"
      type="button"
      data-lang-key="my_projects.load_more_button"
    >
      LOAD MORE
    </button>
  </div>
</section>
