<section class="tech-skills-section section">
  <h2 class="visually-hidden">Technologiess</h2>
  <div class="even-container">
    <div class="even-line">
      <ul class="even-list" id="evenSkillsList"></ul>
      <ul class="even-list" id="evenSkillsListDuplicate"></ul>
    </div>
  </div>

  <div class="moving-container uneven-container">
    <div class="uneven">
      <ul class="uneven-list" id="unevenSkillsList"></ul>
      <ul class="uneven-list" id="unevenSkillsListDuplicate"></ul>
    </div>
  </div>
</section>
