<section class="tech-skills-section section">
  <h2 class="visually-hidden">Technologiess</h2>

  <div class="even-container">
    <div class="even-line">
      <ul class="even-list">
        <li>JAVASCRIPT</li>
        <li>REACT</li>
        <li>REDUX</li>
        <li>NODE.JS</li>
        <li>MongoDB</li>
        <li>TYPESCRIPT</li>
        <li>HTML/CSS</li>
        <li>JAVASCRIPT</li>
        <li>REACT</li>
        <li>REDUX</li>
        <li>NODE.JS</li>
        <li>TYPESCRIPT</li>
        <li>HTML/CSS</li>
      </ul>
      <ul class="even-list">
        <li>JAVASCRIPT</li>
        <li>REACT</li>
        <li>REDUX</li>
        <li>NODE.JS</li>
        <li>MongoDB</li>
        <li>TYPESCRIPT</li>
        <li>HTML/CSS</li>
        <li>JAVASCRIPT</li>
        <li>REACT</li>
        <li>REDUX</li>
        <li>NODE.JS</li>
        <li>TYPESCRIPT</li>
        <li>HTML/CSS</li>
      </ul>
    </div>
  </div>

  <div class="moving-container uneven-container">
    <div class="uneven">
      <ul class="uneven-list">
        <li class="uneven-item">JAVASCRIPT</li>
        <li class="uneven-item">REACT</li>
        <li class="uneven-item">REDUX</li>
        <li class="uneven-item">NODE.JS</li>
        <li class="uneven-item">TYPESCRIPT</li>
        <li class="uneven-item">HTML/CSS</li>
        <li class="uneven-item">JAVASCRIPT</li>
        <li class="uneven-item">REACT</li>
        <li class="uneven-item">REDUX</li>
        <li class="uneven-item">NODE.JS</li>
        <li class="uneven-item">MongoDB</li>
        <li class="uneven-item">TYPESCRIPT</li>
        <li class="uneven-item">HTML/CSS</li>
      </ul>
      <ul class="uneven-list">
        <li class="uneven-item">JAVASCRIPT</li>
        <li class="uneven-item">REACT</li>
        <li class="uneven-item">REDUX</li>
        <li class="uneven-item">NODE.JS</li>
        <li class="uneven-item">MongoDB</li>
        <li class="uneven-item">TYPESCRIPT</li>
        <li class="uneven-item">HTML/CSS</li>
        <li class="uneven-item">JAVASCRIPT</li>
        <li class="uneven-item">REACT</li>
        <li class="uneven-item">REDUX</li>
        <li class="uneven-item">NODE.JS</li>
        <li class="uneven-item">TYPESCRIPT</li>
        <li class="uneven-item">HTML/CSS</li>
      </ul>
    </div>
  </div>
</section>
