@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact-webfont.woff2') format('woff2'),
    url('../fonts/impact-webfont.woff') format('woff'),
    url('../fonts/impact.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
    url('../fonts/poppins-light-webfont.woff') format('woff'),
    url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
    url('../fonts/poppins-medium-webfont.woff') format('woff'),
    url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
    url('../fonts/poppins-semibold-webfont.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
